body {
  box-sizing: border-box;
  position: relative; }

*, *:before, *:after {
  box-sizing: inherit; }

.body-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 0%; }

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8 {
  margin: 20px;
  border-top: 3px solid tomato;
  border-bottom: 3px solid tomato;
  padding-top: 10px;
  padding-bottom: 10px; }

.body-wrap img {
  width: 100%;
  opacity: 100%; }

.ease:hover {
  filter: brightness(50%);
  transition: all .5s ease; }

.title {
  display: flex;
  justify-content: space-between;
  font-family: blanch;
  font-size: 1.8em; }

h5 {
  margin-top: 5px;
  margin-bottom: 0; }

.thank-you {
  width: 700px;
  height: 75px;
  background-color: tomato;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  font-family: intro;
  color: white;
  letter-spacing: 2.2px;
  font-size: 14px; }

.thank-you:before {
  content: 'thank you for visiting!'; }

.thank-you:hover:before {
  transform: translate(0, -360%);
  transition: all .4s; }

.thank-you:hover {
  background-image: url(../img/beer.png);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  transition: ease 1s; }

.reset {
  text-decoration: none; }

.ease:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
.tester {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.redwood {
  width: 350px;
  border-top: 3px solid tomato;
  border-bottom: 3px solid tomato;
  padding-top: 10px;
  padding-bottom: 10px; }

.name {
  font-family: intro;
  margin-top: 20px;
  margin-bottom: 0px; }

.title {
  font-size: 1.8em;
  color: black;
  margin: 5px; }

.info {
  width: 70%;
  text-align: justify;
  font-family: sans-serif;
  hyphens: none;
  border-top: 3px solid tomato;
  padding-top: 10px;
  border-bottom: 3px solid tomato;
  padding-bottom: 10px; }

.con-group {
  display: flex;
  justify-content: center; }

.fb, .link, .github {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  width: 45px;
  height: 45px; }

.fb:hover, .github:hover, .link:hover {
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease; }

@-webkit-keyframes rotateThis {
  0% {
    -webkit-transform: scale(1) rotate(0deg); }
  10% {
    -webkit-transform: scale(1.1) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.1) rotate(360deg); } }
.contact {
  margin-left: 25px;
  margin-bottom: 0px; }

.contact-button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  border: solid tomato; }

.form-title {
  font-family: intro;
  font-size: 1em;
  margin-bottom: -10px;
  color: white;
  letter-spacing: 1.5px; }

input {
  border-radius: 3px;
  border: 1px white;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: white;
  padding-top: 5px;
  padding-left: 5px; }

textarea {
  border-radius: 3px;
  border: 1px white;
  outline: 0;
  background: transparent;
  background-color: white;
  border-bottom: 1px solid white;
  width: 150px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 5px; }

.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: black;
  height: 250px; }

body {
  margin: 0; }

.nav-wrap {
  width: 100%;
  height: 60px;
  background-color: #161712;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-self: center;
  color: #f7fbfc; }

.logo img {
  width: 40px;
  margin: 10px 20px; }

@media (min-width: 768px) {
  .logo img {
    justify-items: center; } }

.nav-wrap h5, h6 {
  margin: 0 20px;
  align-self: center;
  font-family: liquide;
  letter-spacing: 2px;
  justify-content: center; }

.nav-wrap h5:hover, h6:hover {
  transform: translate(5px, 2px);
  color: tomato; }

@media (min-width: 320px) {
  .nav-wrap h6 {
    display: none; } }

@media (min-width: 768px) {
  .nav-wrap h6 {
    display: block; } }

@font-face {
  font-family: blanch;
  src: url(../fonts/blanch.otf); }
@font-face {
  font-family: bough;
  src: url(../fonts/bough.otf); }
@font-face {
  font-family: intro;
  src: url(../fonts/Intro.otf); }
@font-face {
  font-family: liquide;
  src: url(../fonts/liquide.otf); }
@font-face {
  font-family: flat;
  src: url(../fonts/flat.otf); }

/*# sourceMappingURL=output.css.map */
