body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin: 0%;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
  margin: 20px;
  // display: flex;
}

.body-wrap img {
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  font-family: blanch;
  font-size: 1.8em;
}

h5 {
  margin-top: 5px;
  margin-bottom: 0;
}
