body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.card img {
  width: 100%;
}

.body-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 5%;
  flex-direction: row;
}

.card {
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 10px;
}
