$nav-color: #161712;
$nav-text: #f7fbfc;

body {
  margin: 0;
}

.nav-wrap {
  width: 100%;
  height: 60px;
  background-color: ($nav-color);
  display: flex;
  flex:1;
  justify-content: space-between;
  align-self: center;
  color: $nav-text;
}

.logo img {
  width: 40px;
  margin: 10px 20px;
}

.logo img {
  @include medium {
    justify-items: center;
  }
}

.nav-wrap h5, h6 {
  margin: 0 20px;
  align-self: center;
  font-family: liquide;
  justify-content: center;
}

.nav-wrap h6 {
  @include small {
    display: none;
  }
}

.nav-wrap h6 {
  @include medium {
    display: block;
  }
}
